.bottom-bar {
    width: 100%;
    position: sticky;
    bottom: 0;
}

.bottom-bar-content {
    display: flex;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    box-shadow: 10px 10px 10px 10px black;
}

.bottom-bar-icon {
    background-color: crimson;
    width: 100%;
    border: 0.1vw solid rgb(196, 17, 53);
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-bar-icon svg {
    width: 8vw;
    height: 8vh;
    margin: 1vh;
}
