.navbar {
    position: sticky;
    width: 100%;
    top: 0;
}

.navbar-content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: crimson;
    box-shadow: 10px 10px 10px black;
}
