.new-session,
.new-session-content {
    width: 100%;
    height: 100%;
    overflow: auto;
}

.exercise {
    overflow: hidden;
    background-color: rgb(67, 67, 67);
    margin: 2vh;
    box-shadow: 10px 10px 10px black;
    font-size: 2vh;
    border-radius: 2vw;
}

.set-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(5, 112, 162);
}

.set-counter p {
    margin: 1vh 5vw;
}
