.timer,
.timer-content {
    width: 100%;
    height: 100%;
    overflow: auto;
    font-size: 5vh;
}

.timer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(34, 34, 34);
}
